*{
	box-sizing: border-box;
}
body{
	font-size: 13px;
	color: #444;
	background-color: #888;
}

#spa{
	position: absolute;
	top: 8px;
	left: 8px;
	bottom: 8px;
	right: 8px;

	min-height: 500px;
	min-width: 500px;
	overflow: hidden;

	background-color: #fff;
	border-radius: 0 8px 0 8px;
}

.spa-x-select{}
.spa-x-clearfloat{
	height: 0 !important;
	float: none !important;
	visibility: hidden !important;
	clear: both !important;
}